<div class="united-elevators-home">
    <div class="container-19">
      <div class="group-46">
        <div class="image-5">
        </div>
        <div class="container-14">
          <img class="svg-2" src="../../assets/vectors/svg_12_x2.svg" />
          <div class="svg-1">
            <img class="vector-2" src="../../assets/vectors/vector_4_x2.svg" />
          </div>
          <div class="container-16">
            <div class="container-18">
              <div class="authorized-distributor-of-global-elevators">
                authorized distributor of global elevators 
              </div>
              <img class="svg" src="../../assets/vectors/svg_19_x2.svg" />
            </div>
            <div class="svg-3">
              <img class="vector-7" src="../../assets/vectors/vector_9_x2.svg" />
              <div class="mt-5 all-its-work-is-subject-to-local-and-international-standards-assurance-and-quality-control-procedures-as-it-is-an-agent-for-major-international-brands-in-its-field">
                All its work is subject to local and international standards, assurance and quality control 
                <br>
                procedures, as it is an agent for major international brands in its field. 
              </div>
              <div class="container-2">
                <div class="btn">
                  <span class="know-more">
                    know more
                  </span>
                </div>
                <div class="btn-1">
                  <span class="contact-us">
                    Contact Us
                  </span>
                </div>
              </div>
            </div>
          </div>
          <p class="heading-2-creating">
            <span class="heading-2-creating-sub-4">We are one of the leading </span>
            <br>
            <span >
                Egyptian Companies in the field 
            </span>
            <br>
            of elevators 
          </p>
        </div>
      </div>
      <div class="group-2">
        <div class="group-1171275721">
          <div class="image-8">
          </div>
          <div class="modern-hallway-airport-subway-station-1">
          </div>
          <img class="subtract" src="../../assets/vectors/subtract_1_x2.svg" />
          <img class="subtract-1" src="../../assets/vectors/subtract_6_x2.svg" />
        </div>
        <div class="container-11">
          <div class="heading-2-creating-4">
            About Us
          </div>
          <div class="heading-2-creating-3">
            The leading Egyptian 
            <br>
            company in the field 
          </div>
          <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            <br>
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </div>
          <div class="container-20">
            <div class="frame-4">
              <img class="vector-21" src="../../assets/vectors/vector_61_x2.svg" />
            </div>
            <div class="our-success-vision">
              Our Success Vision
            </div>
          </div>
          <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="container-8">
            <div class="frame-5">
              <img class="group-3" src="../../assets/vectors/group_39_x2.svg" />
            </div>
            <div class="our-success-mission">
              Our Success Mission
            </div>
          </div>
          <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="btn-2">
            <span class="discover-more">
              Discover more
            </span>
          </div>
        </div>
      </div>
      <div class="group-45">
        <div class="heading-2-creating-1">
          Features
        </div>
        <div class="heading-2-creating-2">
          Our Features
        </div>
        <div class="container-10">
          <div class="group-44">
            <div class="frame-11">
              <span class="container-1">
                01
              </span>
            </div>
            <div class="frame-74">
              <div class="frame-3">
                <img class="group" src="../../assets/vectors/group_5_x2.svg" />
              </div>
            </div>
            <div class="frame-53">
              <div class="unique-design">
                unique Design
              </div>
              <span class="lorem-ipsum-dolor-amet-consectetur-3">
                Lorem ipsum dolor amet <br>consectetur
              </span>
            </div>
          </div>
          <div class="frame-7">
            <div class="frame-11">
              <span class="container-1">
                02
              </span>
            </div>
            <div class="frame-71">
              <div class="frame">
                <img class="group" src="../../assets/vectors/group_6_x2.svg" />
              </div>
            </div>
            <div class="frame-53">
              <div class="affordable-price">
                Affordable price
              </div>
              <span class="lorem-ipsum-dolor-amet-consectetur">
                Lorem ipsum dolor amet consectetur
              </span>
            </div>
          </div>
          <div class="frame-8">
            <div class="frame-12">
              <span class="container-1">
                03
              </span>
            </div>
            <div class="frame-72">
              <div class="frame-1">
                <img class="vector-11" src="../../assets/vectors/vector_47_x2.svg" />
              </div>
            </div>
            <div class="frame-51">
              <div class="high-quality">
                high Quality
              </div>
              <span class="lorem-ipsum-dolor-amet-consectetur-1">
                Lorem ipsum dolor amet consectetur
              </span>
            </div>
          </div>
          <div class="frame-9">
            <div class="frame-13">
              <span class="container-1">
                04
              </span>
            </div>
            <div class="frame-73">
              <div class="frame-2">
                <img class="group-1" src="../../assets/vectors/group_35_x2.svg" />
              </div>
            </div>
            <div class="frame-52">
              <div class="support">
                24/7 support
              </div>
              <span class="lorem-ipsum-dolor-amet-consectetur-2">
                Lorem ipsum dolor amet consectetur
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="group-43">
        <div class="section">
          <div class="div-elementor-widget-wrap">
            <div class="heading-2">
              <span class="our-products">
                Our Products
              </span>
            </div>
            <span class="our-products-1">
              Our Products
            </span>
          </div>
          <div class="div-elementor-column">
            <span class="discover-more-1">
              Discover More
            </span>
          </div>
        </div>
        <div class="container-22">
          <div class="container-6">
            <div class="div-item">
              <span class="escalator">
                Escalator
              </span>
            </div>
            <div class="img-1">
              <div class="link-highlighting-8-ways-to-optimize-inventory-management-using-odoos-flexibility-768-x-508-png">
                <div class="image-10">
                </div>
              </div>
            </div>
          </div>
          <div class="container-21">
            <div class="img-2">
              <div class="link-tips-for-optimizing-and-troubleshooting-odoo-pos-development-768-x-508-png">
                <div class="image-9">
                </div>
              </div>
            </div>
            <div class="div-item-2">
              <span class="elevators">
                elevators
              </span>
            </div>
          </div>
          <div class="container-1">
            <div class="div-item-1">
              <span class="moving-walkers">
                Moving walkers
              </span>
            </div>
      
            <div class="link-how-to-use-salesforce-experience-cloud-to-create-acommunity-that-matches-your-brand-768-x-508-png-1">
                  <div class="image-21">
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-30">
        <div class="group-38">
          <div class="container-8">
            14+
          </div>
          <span class="years-experience">
            Years<br />
            Experience
          </span>
        </div>
        <div class="group-38">
          <div class="container-8">
            320+
          </div>
          <span class="distention-collaboration">
            Distention<br />
            Collaboration
          </span>
        </div>
        <div class="group-38">
          <div class="container-8">
            67+
          </div>
          <span class="satisfied-customer">
            Satisfied<br />
            Customer
          </span>
        </div>
        <div class="group-38">
          <div class="container-8">
            125+
          </div>
          <span class="unique-projects">
            unique<br />
            projects
          </span>
        </div>
      </div>
      <div class="group-39">
        <div class="what-our-client-says">
          What Our Client Say’s?
        </div>
        <div class="container-12">
          <div class="container-24">
            <div class="container-9">
              <div>
                <div class="our-testimonial">
                  Our Testimonial
                </div>
                <div class="rectangle-14">
                </div>
              </div>
              <div class="unsplash-o-3-ymv-t-7-wf-9-u">
              </div>
            </div>
            <img class="vector-99" src="../../assets/vectors/vector_21_x2.svg" />
            <img class="container-7" src="../../assets/vectors/container_6_x2.svg" />
            <img class="container-23" src="../../assets/vectors/container_10_x2.svg" />
          </div>
          <div class="container-13">
            <div class="max-skshena">
              Max Skshena
            </div>
            <div class="ceo-of-xyz-compny">
              Ceo Of Xyz Compny
            </div>
            <span class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat.”
            </span>
          </div>
        </div>
      </div>
      <div class="group-1171275720">
        <div class="group-40">
          <div class="heading-2-creating-8">
            Our Partners
          </div>
          <span class="heading-2-creating-7">
            Our Partners
          </span>
        </div>
        <div class="group-1171275711">
          <div class="frame-22">
            <div class="image-12">
            </div>
          </div>
          <div class="frame-23">
            <div class="image-13">
            </div>
          </div>
          <div class="frame-24">
            <div class="image-14">
            </div>
          </div>
          <div class="frame-25">
            <div class="image-15">
            </div>
          </div>
          <div class="frame-26">
            <div class="image-16">
            </div>
          </div>
        </div>
      </div>
      <div class="frame-19">
        <div class="heading-2-creating-6">
          Our Blogs
        </div>
        <div class="container-5">
          <span class="heading-2-creating-5">
            Our Blogs &amp; News
          </span>
          <div class="see-all">
            See All
          </div>
        </div>
        <div class="container-15">
          <div class="component-6">
            <div class="rectangle-21">
            </div>
            <div class="frame-16">
              <div class="frame-14">
                <div class="frame-18">
                  <span class="container-9">
                    28.12.2024
                  </span>
                </div>
                <span class="modern-elevators-in-office-lobby">
                  Modern elevators in office lobby
                </span>
              </div>
              <div class="frame-15">
                <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <span class="read-more">
                  Read more &gt;
                </span>
              </div>
            </div>
          </div>
          <div class="component-7">
            <div class="rectangle-211">
            </div>
            <div class="frame-161">
              <div class="frame-141">
                <div class="frame-181">
                  <span class="container-10">
                    15.02.2025
                  </span>
                </div>
                <span class="modern-elevators-in-office-lobby-1">
                  Hand touching elevator braille figure
                </span>
              </div>
              <div class="frame-151">
                <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <span class="read-more-1">
                  Read more &gt;
                </span>
              </div>
            </div>
          </div>
          <div class="component-8">
            <div class="rectangle-212">
            </div>
            <div class="frame-162">
              <div class="frame-142">
                <div class="frame-182">
                  <span class="container-10">
                    22.05.2025
                  </span>
                </div>
                <span class="modern-elevators-in-office-lobby-2">
                  Closed elevator doors in hotel
                </span>
              </div>
              <div class="frame-152">
                <div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <span class="read-more-2">
                  Read more &gt;
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="div-econ-inner">
          <div class="div-elementor-element">
            <div class="div-haru-decor-circle">
            </div>
            <div class="div-haru-decor-circle-1">
            </div>
            <div class="div-elementor-widget-container">
              <span class="heading-2-enjoy-up-your-vacations">
                We are working in the <br> Egyptian market in the <br> field of elevators.
              </span>
            </div>
            <div class="div-elementor-element-1">
              <span class="heading-2-tshirts-that-keep-you-moving">
                we provides all elevators items
              </span>
            </div>
            <div class="div-elementor-element-2">
              <div class="button">
                <span class="request-quote">
                  Request Quote
                </span>
              </div>
            </div>
          </div>
          <div class="div-elementor-element-3">
            <div class="div-haru-decor-ellipse">
            </div>
          </div>
        </div>
        <div class="div-haru-decor-circle-2">
        </div>
        <div class="container-4">
        </div>
      </div>
    </div>
  </div>